/* src/pages/Home.css */
.home-container {
    flex: 1
  }
  
  .home-image {
    width: 100%; /* Make the image responsive */
    max-height: 300px; /* Set a max height to control the image size */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-bottom-left-radius: 20px; /* Bottom left border radius */
    border-bottom-right-radius: 20px; /* Bottom right border radius */
    border: 0px solid transparent; /* Add any additional border if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for visual effect */
  }
  